
/*
TIMELINE
*/

.timeline-body {  
  background: rgb(230,230,230);
  
  color: rgb(50,50,50);
  font-family: 'Open Sans', sans-serif;
  font-size: 112.5%;
  line-height: 1.6em;

}

/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 100px auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(80,80,80);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(250,80,80);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(248,248,248);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 660px) {

.timeline {
  width: 100%;
  padding: 4em 0 1em 0;
}

.timeline li {
  padding: 2em 0;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;

  text-align: center;
}

.flag-wrapper {
  text-align: center;
}

.flag {
  background: rgb(255,255,255);
  z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
  left: 50%;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-left: -9px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid rgb(255,80,80);
  z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -8px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(245,245,245);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  
  z-index: 15;
}

}

@media screen and (min-width: 400px ?? max-width: 660px) {

.direction-l .desc,
.direction-r .desc {
  margin: 1em 4em 0 4em;
}

}

/*  END TIMELINE*/
.rosebud
{color:#F4A2A0;}

.rosebud-bg
{background:#F4A2A0;}

.apricot
{color:#F28870;}

.apricot-bg
{background:#F28870;}

.marzipan
{color:#F8E296;}

.marzipan-bg
{background:#F8E296;}

.waterleaf
{color:#A6E6DF;}

.waterleaf-bg
{background:#A6E6DF;}

.sail
{color:#A7DDF7;}

.sail-bg
{background:#A7DDF7;}

.tunadora
{color:#4D4D4D;}

.tunadora-bg
{background:#4D4D4D;}

.gray
{color:#808080;}

.gray-bg
{background:#808080;}

.alto
{color:#DDDDDD;}

.alto-bg
{background:#DDDDDD;}

.george-pink
{
  color:#d54c4f;
}
.bold
{font-weight: bold;}
.montserrat
{
  font-family: 'Montserrat', sans-serif;
}
.lora
{
  font-family: 'Lora', serif;
}

.problem>.picture
{

  margin: 0px auto 20px auto; height:200px;
   width:100%;  align:center;
}
.problem-container
{
  display:flex;
  flex-wrap:wrap;
  justify-content:space-around;
  padding:30px;

}
.triangle-bottomleft {
  width: 0;
  height: 0;
  border-bottom: 35vh solid #A7DDF7;
  border-right: 100vw solid transparent;
}

.triangle-topright {
  width: 0;
  height: 0;
  border-top: 35vh solid #A7DDF7;
  border-left: 100vw solid transparent;

}

.problema
{

 background:#004e7e!important; 
 margin: auto 0px;
}
.problem
{
  max-width: 250px;
  padding:20px;
  flex-wrap:wrap;
  background:#f7f6f2;
  margin:10px;
  font-size: 16px
}
.btn-plat
{
  display:inline-block; padding:10px 20px;
  color:white!important;
  font-size: 2em;
}
.main-head
{
  font-size:4em;
  margin:0px;
}
.main-desc
{
  line-height: 1.2em;
  margin:30px 0px;
  font-size: 1.5em;
}
.sect-one
{

  background:#f7f6f2;
  color:#5d5353;
}
.sect-zero
{

  background:#ffffff;
  color:#5d5353;
}
.prog
{
  vertical-align: middle;
  margin-top: 25px;
}
.section-heading>span
{
  font-size: 1.2em;
  font-weight: bold;
}
.prog>hr
{
  margin-top: 25px;
  width: 80%;
  text-align: center;
}
  .prog-head
  {

    color:#d54c4f;
    font-size:1.3em;
    margin-bottom:8px;
    margin-top: 10px;
    font-weight: bold;
  }
  .prog-desc
  {
    font-size: 18px;
    font-weight:400;
  }
  .side
  {
    margin-top:100px;
    padding: 0px 30px;
  }
  .left
  {
    padding:70px;
  }
  .right
  {
    padding:40px;
  }
  .section-heading
  {
    color:#d54c4f;
    font-size:2em;
    margin-bottom: 30px;
  }
  .lead
  {
    font-family:sans-serif;
    font-size:1.24em;
    margin:20px;
    font-weight: 400;
  }
  .flex
  {
    display:flex;
  }
  .wrapper
  {
    width:100%;
  }
  .center
  {
    justify-content:center;
    align-items:center;
  }
  .icon
  {
    margin-top:30px;

  }